.remove-assignment-content {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-container {
  background-color: #403d58;
  color: #fff;
  height: 100vh;
}

.content-container {
  background-color: rgb(202, 178, 148);
  height: 600px;
}

.accordion-container {
  max-width: 1200px;
  margin: 3rem auto;
  background-color: rgb(202, 178, 148);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-item {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 120px;
  cursor: pointer;
  height: 90px;
}

.accordion {
  background-color: #8b6a23;
  color: white;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active .accordion {
  background-color: black;
}

.accordion i {
  margin-right: 8px;
}

.panel {
  padding: 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  height: 100%;
}

.active .panel {
  display: block;
  max-height: 500px;
}

.panel p {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

.footer-container {
  background-color: rgb(196, 158, 89);
  width: 100%;
  height: 300px;
  position: relative;
}

.hero-container {
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;
}

.hero-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: wheat;
  font-family: 'Finger Paint', cursive;
  padding: 5px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  white-space: nowrap;
}

.hero-content p {
  font-size: 1.25rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .hero-content h1 {
      font-size: 2rem;
  }

  .hero-content p {
      font-size: 1rem;
  }
}

.footer-content {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-left,
.footer-center {
  flex: 1;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.footer-center {
  padding-left: 20px;
}

.social-icons a {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
  }

  .footer-left,
  .footer-center {
      flex: none;
      width: 100%;
      border-right: none;
      padding: 10px 0;
  }

  .footer-center {
      padding-left: 0;
  }
  
}